:root {
  --focus: orange;
  --bg: #fff; /*#0A001F;*/
  --fg: #000;
  --border: #eee;
  --primary: #4a90e2;
  --fg-primary: #eee;
  --bg-primary: #ecf5ff;
  --border-primary: #4a90e2;
  --font-size: 14px;
}
body {
  width: 316px;
  margin: 0;
  padding: 7px;
  font-family: Arial, sans-serif;
}
#markdownContent {
  max-height: 305px;
  min-height: 100px;
  overflow: auto;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f8f8f8;
}
.not-selectable {
  user-select: none; /* 用户不能选择此元素中的文本 */
}
.generate-container {
  text-align: right;
}

.select-box,
.generate-btn,
.download-button,
.input-box {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.select-box {
  width: 100%;
}
.input-box {
  width: 93%;
}
.generate-btn {
  display: inline-block;
  background-color: #64748b;
  color: white;
  border-color: #64748b;
  cursor: pointer;
  margin-top: 10px;
}
.generate-btn:hover {
  background-color: #475569;
}
.button-wrapper {
  width: 100%;
  display: flex;
  gap: 10px;
}
.download-button {
  flex: 1;
  margin: 0;
  background-color: #2563eb;
  color: white;
  text-align: center;
  cursor: pointer;
}
.download-button:hover {
  background-color: #1d4ed8;
}
#img-download {
  background-color: #10b981;
}
#img-download:hover {
  background-color: #329a4a;
}
label {
  display: block;
  margin-bottom: 5px;
}
